.home-view-box {
    background-color: #eee;
    .system-message {
        height: 572px; 
    }

    .system-message-r {
        height: 572px;
    }

    .sale-message-box {
        margin-top: 20px;
    }
}